<%- include('../components/header') %>
<div class="container flex flex-col gap-8 p-20">
	<h1>Mengubah data mahasiswa</h1>
	<form
		action="/mahasiswa/update"
		method="post"
		class="[&>div]:bg-slate-200 flex flex-col gap-3 [&>div]:w-full [&>div]:grid [&>div]:grid-cols-[70px_1fr] [&>div]:rounded-xl first-letter:[&>div]:overflow-hidden [&>div>label]:p-2 shadow-md p-5 w-fit [&>div>input]:border [&>div>input]:rounded-r-xl [&>div>input]:border-slate-200"
	>
		<input type="hidden" name="id" value="<%= data.id %>" />
		<div>
			<label for="nama">Nama</label>
			<input
				type="text"
				name="nama"
				id="nama"
				value="<%= data.nama %>"
				autocomplete="off"
			/>
		</div>
		<div>
			<label for="nim">NIM</label>
			<input type="text" name="nim" id="nim" value="<%= data.nim%>" readonly />
		</div>
		<div>
			<label for="jurusan">Jurusan</label>
			<input
				type="text"
				name="jurusan"
				id="jurusan"
				value="<%= data.jurusan %>"
			/>
		</div>
		<section class="grid grid-cols-2 text-center gap-x-5 text-slate-100">
			<a
				href="/mahasiswa"
				class="w-full rounded-xl bg-red-500 hover:bg-red-400 p-2 mr-3"
				>Batalkan</a
			>
			<input
				type="submit"
				value="Ubah"
				class="w-full bg-green-600 hover:bg-green-400 cursor-pointer rounded-xl"
			/>
		</section>
	</form>
</div>
<%- include('../components/footer') %>
