<%- include('../components/header') %>
<% console.log('test') %> 
<div class="container p-20 flex flex-col gap-8">
	<h1 class="font-bold text-3xl">Data Semua Mahasiswa</h1>
	<div class="[&>a]:py-2 [&>a]:px-4 [&>a]:rounded-xl [&>a]:text-slate-100">
		<a href="/" class="bg-sky-500 hover:bg-sky-700">Kembali ke home</a>
		<a onclick="add()" class="bg-emerald-500 hover:bg-emerald-700">Tambahkan Data</a>
	</div>
	<ul class="[&>div]:grid-cols-[50px_repeat(4,_1fr)] [&>div]:p-[1rem] [&>div]:border-b-[1px] [&>div]:border-slate-300 overflow-hidden  [&>div]:grid bg-slate-100 rounded-xl">
		<div class="[&>li]:font-bold">
			<li class="text-center">#</li>
			<li>Nama</li>
			<li>NIM</li>
			<li>Jurusan</li>
			<li class="pl-[4.2rem]">Actions</li>
		</div>
		<% mahasiswa.forEach((data,index) => {%>
		<div>
			<li class="text-center"><%= index+1 %></li>
			<li><%= data.nama %></li>
			<li><%= data.nim %></li>
			<li><%= data.jurusan %></li>
			<li class="[&>a]:py-2 [&>a]:px-4 [&>a]:rounded-xl [&>a]:text-slate-100">
				<a href=<%= `/mahasiswa/${data.nim}`  %> class="bg-cyan-400 hover:bg-cyan-600">Lihat</a>
				<a onclick="edit('<%= data.nim %>')" class="bg-green-500 hover:bg-green-700">Edit</a>
				<a href=<%= `/mahasiswa/${data.nim}/delete`  %> class="bg-red-500 hover:bg-red-700"onclick="return confirm('Apakah anda yakin ingin menghapus data?')">Hapus</a>
			</li>
		</div>
		<%}); %>
	</ul>
</div>
<div id="edit-modal" class="fixed w-full z-10 h-screen top-0 bottom-0 bg-[#000000cc] hidden">
	<div class="w-fit mx-auto mt-44 bg-slate-50 p-3 rounded-2xl">
		<h1 class="font-semibold">Mengubah data mahasiswa</h1>
	<form
		action="/mahasiswa/update"
		method="post"
		class="[&>div]:bg-slate-200 flex flex-col gap-3 [&>div]:w-full [&>div]:grid [&>div]:grid-cols-[70px_1fr] [&>div]:rounded-xl first-letter:[&>div]:overflow-hidden [&>div>label]:p-2 p-5 w-fit [&>div>input]:border [&>div>input]:rounded-r-xl [&>div>input]:border-slate-200"
	>
		<input type="hidden" name="id" value="1111" />
		<div>
			<label for="nama">Nama</label>
			<input
				type="text"
				name="nama"
				id="nama"
				value="11111"
				autocomplete="off"
			/>
		</div>
		<div>
			<label for="nim">NIM</label>
			<input type="text" name="nim" id="nim" value="1111" readonly />
		</div>
		<div>
			<label for="jurusan">Jurusan</label>
			<input
				type="text"
				name="jurusan"
				id="jurusan"
				value="11111"
			/>
		</div>
		<section class="grid grid-cols-2 text-center gap-x-5 text-slate-100">
			<a
				onclick="abort('#edit-modal')"
				class="w-full rounded-xl bg-red-500 hover:bg-red-400 p-2 mr-3"
				>Batalkan</a
			>
			<input
				type="submit"
				value="Ubah"
				class="w-full bg-green-600 hover:bg-green-400 cursor-pointer rounded-xl"
			/>
		</section>
	</form>
	</div>
</div>

<!-- tambah data -->
<div id="add-modal" class="fixed w-full z-10 h-screen top-0 bottom-0 bg-[#000000cc] hidden">
	<div class="w-fit mx-auto mt-44 bg-slate-50 p-3 rounded-2xl">
	<h1>Menambahkan data mahasiswa</h1>
	<form
		action="/mahasiswa"
		method="post"
		class="[&>div]:bg-slate-200 flex flex-col gap-3 [&>div]:w-full [&>div]:grid [&>div]:grid-cols-[70px_1fr] [&>div]:rounded-xl first-letter:[&>div]:overflow-hidden [&>div>label]:p-2 p-5 w-fit [&>div>input]:border [&>div>input]:rounded-r-xl [&>div>input]:border-slate-200"
	>
		<div>
			<label for="nama">Nama</label>
			<input type="text" name="nama" id="nama" />
		</div>
		<div>
			<label for="nim">NIM</label>
			<input type="text" name="nim" id="nim" />
		</div>
		<div>
			<label for="jurusan">Jurusan</label>
			<input type="text" name="jurusan" id="jurusan" />
		</div>
		<section class="grid grid-cols-2 text-center gap-x-5 text-slate-100">
			<a
				onclick="abort('#add-modal')"
				class="w-full rounded-xl bg-red-500 hover:bg-red-400 p-2 mr-3"
				>Batalkan</a
			>
			<input
				type="submit"
				value="Kirim"
				class="w-full bg-green-600 hover:bg-green-400 cursor-pointer rounded-xl"
			/>
		</section>
	</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
	function edit(nim){
		event.preventDefault();
		console.log(nim)
		$('#edit-modal').removeClass('hidden').addClass()
		$.ajax({
			url: `http://localhost:8080/mahasiswa/${nim}/edit`, 
			method:'GET',
			success: function(result){
				const {data} = result
				$('#nama').val('')
				$('#nama').val('')
				$('#jurusan').val('')
				$('#nama').val(data.nama)
				$('#nim').val(data.nim)
				$('#jurusan').val(data.jurusan)
			},
			'error': function(xhr, textStatus, errorThrown){
				alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
				alert("responseText: "+xhr.responseText);
			}
		});
	}

	function abort(className){
		$(className).addClass('hidden')
	}

	function add(){
		event.preventDefault();
		$('#add-modal').removeClass('hidden').addClass()
	}

	// const apiCall = async () => {
	// 	const data = await fetch('http://localhost:3000/mahasiswa/api/getall')
	// 	console.log(await data.json())	
	// }
	// apiCall()
</script>
<%- include('../components/footer') %>
